*{
   
}
.foodcard{
  background-color:rgb(173, 150, 121); 
  height: 400px;
  width: 285px;
padding-right:3px;  
  border-radius: 3px;
  border:3px double black;
}
.image{
    /* background-color: aquamarine; */
    width:fit-content;
     border-radius: 5px;
    padding:5px;
   
}
.content{
    /* background-color: black; */
    width:fit-content;
    padding-right:150px;
}
.btn:hover{
    background-color:rgb(84, 116, 118);
    cursor:pointer;
    color:rgba(11, 11, 101, 0.959);
    /* border: 5px black; */
}
.btn{
    border: 2px double black;
    border-radius:5px;

}
